<dl class="dl-horizontal">

<p></p><hr><dt>2022</dt>
<dd><b>Enumeration of set-theoretic solutions to the Yang-Baxter equation</b><br><u>Özgür Akgün</u>, Martín Mereb, Leandro Vendramin
<br>Mathematics of Computation, American Mathematical Society
<br>DOI: <a href="https://doi.org/10.1090/mcom/3696">10.1090/mcom/3696</a>
<br>URL: <a href="https://www.ams.org/journals/mcom/0000-000-00/S0025-5718-2022-03696-6/">https://www.ams.org/journals/mcom/0000-000-00/S0025-5718-2022-03696-6/</a></dd>

<p></p><hr><dt>2021</dt>
<dd><b>Towards reformulating Essence specifications for robustness</b><br><u>Özgür Akgün</u>, Alan M. Frisch, Ian Gent, Christopher Jefferson, Ian Miguel, Peter Nightingale, András Z. Salamon
<br>ModRef 2021 - The 20th workshop on Constraint Modelling and Reformulation (ModRef)
<br>URL: <a href="https://modref.github.io/ModRef2021.html">https://modref.github.io/ModRef2021.html</a></dd>

<p></p><dt></dt>
<dd><b>Finding subgraphs with side constraints</b><br><u>Özgür Akgün</u>, Jessica Enright, Christopher Jefferson, Ciaran McCreesh, Patrick Prosser, Steffen Zschaler
<br>Integration of Constraint Programming, Artificial Intelligence, and Operations Research - 18th International Conference, CPAIOR 2021, Proceedings, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-030-78230-6_22">10.1007/978-3-030-78230-6_22</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9783030782290">9783030782290</a></dd>

<p></p><hr><dt>2020</dt>
<dd><b>Efficient incremental modelling and solving</b><br>Gökberk Koçak, <u>Özgür Akgün</u>, Nguyen Dang, Ian Miguel
<br>ModRef 2020 - The 19th workshop on Constraint Modelling and Reformulation
<br>URL: <a href="https://modref.github.io/ModRef2020.html">https://modref.github.io/ModRef2020.html</a></dd>

<p></p><dt></dt>
<dd><b>Exploring instance generation for automated planning</b><br><u>Özgür Akgün</u>, Nguyen Dang, Joan Espasa, Ian Miguel, András Z. Salamon, Christopher Stone
<br>ModRef 2020 - The 19th workshop on Constraint Modelling and Reformulation</dd>

<p></p><dt></dt>
<dd><b>Towards portfolios of streamlined constraint models: a case study with the balanced academic curriculum problem</b><br>Patrick Spracklen, Nguyen Dang, <u>Özgür Akgün</u>, Ian Miguel
<br>ModRef 2020 - The 19th workshop on Constraint Modelling and Reformulation
<br>URL: <a href="https://modref.github.io/ModRef2020.html">https://modref.github.io/ModRef2020.html</a></dd>

<p></p><dt></dt>
<dd><b>Exploiting incomparability in solution dominance: improving general purpose constraint-based mining</b><br>Gökberk Koçak, <u>Özgür Akgün</u>, Tias Guns, Ian Miguel
<br>ECAI 2020, IOS Press
<br>DOI: <a href="https://doi.org/10.3233/FAIA200110">10.3233/FAIA200110</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9781643681009">9781643681009</a>
<br>URL: <a href="https://ecai2020.eu/">https://ecai2020.eu/</a></dd>

<p></p><dt></dt>
<dd><b>Linking Scottish vital event records using family groups</b><br><u>Özgür Akgün</u>, Alan Dearle, Graham Kirby, Eilidh Garrett, Tom Dalton, Peter Christen, Chris Dibben, Lee Williamson
<br>Historical Methods: a Journal of Quantitative and Interdisciplinary History, Routledge Taylor &amp; Francis Group
<br>DOI: <a href="https://doi.org/10.1080/01615440.2019.1571466">10.1080/01615440.2019.1571466</a></dd>

<p></p><dt></dt>
<dd><b>Discriminating instance generation from abstract specifications: a case study with CP and MIP</b><br><u>Özgür Akgün</u>, Nguyen Dang, Ian Miguel, András Z. Salamon, Patrick Spracklen, Christopher Stone
<br>Integration of Constraint Programming, Artificial Intelligence, and Operations Research, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-030-58942-4_3">10.1007/978-3-030-58942-4_3</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9783030589417">9783030589417</a>
<br>URL: <a href="https://cpaior2020.dbai.tuwien.ac.at/">https://cpaior2020.dbai.tuwien.ac.at/</a></dd>

<p></p><dt></dt>
<dd><b>Effective encodings of constraint programming models to SMT</b><br>Ewan Davidson, <u>Özgür Akgün</u>, Joan Espasa Arxer, Peter Nightingale
<br>Principles and Practice of Constraint Programming, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-030-58475-7_9">10.1007/978-3-030-58475-7_9</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9783030584740">9783030584740</a>
<br>URL: <a href="https://cp2020.a4cp.org/">https://cp2020.a4cp.org/</a></dd>

<p></p><hr><dt>2019</dt>
<dd><b>Towards improving solution dominance with incomparability conditions: a case-study using Generator Itemset Mining</b><br>Gökberk Koçak, <u>Özgür Akgün</u>, Ian Miguel, Tias Guns
<br>The 18th workshop on Constraint Modelling and Reformulation (ModRef 2019), Proceedings
<br>URL: <a href="http://cp2019.a4cp.org">http://cp2019.a4cp.org</a></dd>

<p></p><dt></dt>
<dd><b>Solving computational problems in the theory of word-representable graphs</b><br><u>Özgür Akgün</u>, Ian Gent, Sergey Kitaev, Hans Zantema
<br>Journal of Integer Sequences, University of Waterloo
<br>URL: <a href="https://cs.uwaterloo.ca/journals/JIS/VOL22/Kitaev/kitaev11.html">https://cs.uwaterloo.ca/journals/JIS/VOL22/Kitaev/kitaev11.html</a></dd>

<p></p><dt></dt>
<dd><b>How people visually represent discrete constraint problems</b><br>Xu Zhu, Miguel Nacenta, <u>Özgür Akgün</u>, Peter Nightingale
<br>IEEE Transactions on Visualization and Computer Graphics, IEEE Computer Society
<br>DOI: <a href="https://doi.org/10.1109/TVCG.2019.2895085">10.1109/TVCG.2019.2895085</a></dd>

<p></p><dt></dt>
<dd><b>Cloud benchmarking for maximising performance of scientific applications</b><br>Blesson Varghese, <u>Özgür Akgün</u>, Ian Miguel, Long Thai, Adam Barker
<br>IEEE Transactions on Cloud Computing, IEEE
<br>DOI: <a href="https://doi.org/10.1109/TCC.2016.2603476">10.1109/TCC.2016.2603476</a></dd>

<p></p><dt></dt>
<dd><b>Automatic streamlining for constrained optimisation</b><br>Patrick Spracklen, Nguyen Dang, <u>Özgür Akgün</u>, Ian Miguel
<br>Principles and Practice of Constraint Programming, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-030-30048-7_22">10.1007/978-3-030-30048-7_22</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9783030300470">9783030300470</a>
<br>URL: <a href="http://cp2019.a4cp.org">http://cp2019.a4cp.org</a></dd>

<p></p><dt></dt>
<dd><b>Instance generation via generator instances</b><br><u>Özgür Akgün</u>, Nguyen Dang, Ian Miguel, András Z. Salamon, Christopher Luciano Stone
<br>Principles and Practice of Constraint Programming, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-030-30048-7_1">10.1007/978-3-030-30048-7_1</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9783030300470">9783030300470</a>
<br>URL: <a href="http://cp2019.a4cp.org">http://cp2019.a4cp.org</a></dd>

<p></p><hr><dt>2018</dt>
<dd><b>Closed frequent itemset mining with arbitrary side constraints</b><br>Gökberk Koçak, <u>Özgür Akgün</u>, Ian Miguel, Peter Nightingale
<br>2018 IEEE International Conference on Data Mining Workshops (ICDMW), IEEE Computer Society
<br>DOI: <a href="https://doi.org/10.1109/ICDMW.2018.00175">10.1109/ICDMW.2018.00175</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9781538692899">9781538692899</a>
<br>URL: <a href="https://qizhiquan.github.io/OEDM-18/">https://qizhiquan.github.io/OEDM-18/</a></dd>

<p></p><dt></dt>
<dd><b>Memory consistency models using constraints</b><br><u>Özgür Akgün</u>, Ruth Hoffmann, Susmit Sarkar
<br>The Seventeenth Workshop on Constraint Modelling and Reformulation (ModRef 2018), Proceedings
<br>URL: <a href="http://cp2018.a4cp.org/">http://cp2018.a4cp.org/</a></dd>

<p></p><dt></dt>
<dd><b>Modelling Langford's Problem: a viewpoint for search</b><br><u>Özgür Akgün</u>, Ian Miguel
<br>The Seventeenth Workshop on Constraint Modelling and Reformulation (ModRef 2018), Proceedings
<br>URL: <a href="http://cp2018.a4cp.org/">http://cp2018.a4cp.org/</a></dd>

<p></p><dt></dt>
<dd><b>A framework for constraint based local search using Essence</b><br><u>Özgür Akgün</u>, Saad Attieh, Ian Gent, Chris Jefferson, Ian Miguel, Peter Nightingale, András Z. Salamon, Patrick Spracklen, James Wetter
<br>Proceedings of the Twenty-Seventh International Joint Conference on Artificial Intelligence, International Joint Conferences on Artificial Intelligence
<br>DOI: <a href="https://doi.org/10.24963/ijcai.2018/173">10.24963/ijcai.2018/173</a>
<br>URL: <a href="https://www.ijcai-18.org/">https://www.ijcai-18.org/</a></dd>

<p></p><dt></dt>
<dd><b>Validating Synthetic Longitudinal Populations for evaluation of Population Data Linkage</b><br>Tom Dalton, Graham Kirby, Alan Dearle, <u>Özgür Akgün</u>, Monique Lea MacKenzie

<br>DOI: <a href="https://doi.org/10.23889/ijpds.v3i2.504">10.23889/ijpds.v3i2.504</a></dd>

<p></p><dt></dt>
<dd><b>Automatic discovery and exploitation of promising subproblems for tabulation</b><br><u>Özgür Akgün</u>, Ian Gent, Chris Jefferson, Ian Miguel, Peter Nightingale, András Z. Salamon
<br>Principles and Practice of Constraint Programming, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-319-98334-9_1">10.1007/978-3-319-98334-9_1</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9783319983332">9783319983332</a>
<br>URL: <a href="http://cp2018.a4cp.org/">http://cp2018.a4cp.org/</a></dd>

<p></p><dt></dt>
<dd><b>Automatic generation and selection of streamlined constraint models via Monte Carlo search on a model lattice</b><br>Patrick Spracklen, <u>Özgür Akgün</u>, Ian Miguel
<br>Principles and Practice of Constraint Programming, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-319-98334-9_24">10.1007/978-3-319-98334-9_24</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9783319983332">9783319983332</a></dd>

<p></p><dt></dt>
<dd><b>Metamorphic testing of constraint solvers</b><br><u>Özgür Akgün</u>, Ian Gent, Chris Jefferson, Ian Miguel, Peter Nightingale
<br>Principles and Practice of Constraint Programming, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-319-98334-9_46">10.1007/978-3-319-98334-9_46</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9783319983332">9783319983332</a>
<br>URL: <a href="http://cp2018.a4cp.org/">http://cp2018.a4cp.org/</a></dd>

<p></p><dt></dt>
<dd><b>Using metric space indexing for complete and efficient record linkage</b><br><u>Özgür Akgün</u>, Alan Dearle, Graham Kirby, Peter Christen
<br>Advances in Knowledge Discovery and Data Mining, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-319-93040-4_8">10.1007/978-3-319-93040-4_8</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9783319930398">9783319930398</a>
<br>URL: <a href="http://prada-research.net/pakdd18/">http://prada-research.net/pakdd18/</a></dd>

<p></p><hr><dt>2017</dt>
<dd><b>Automatically improving constraint models in Savile Row</b><br>Peter Nightingale, <u>Özgür Akgün</u>, Ian Gent, Christopher Jefferson, Ian Miguel, Patrick Spracklen
<br>Artificial Intelligence, Elsevier
<br>DOI: <a href="https://doi.org/10.1016/j.artint.2017.07.001">10.1016/j.artint.2017.07.001</a></dd>

<p></p><dt></dt>
<dd><b>Learning From Past Links: Understanding the Limits of Linkage Quality</b><br><u>Özgür Akgün</u>, Alan Dearle, Eilidh Garrett, Graham Kirby
<br>British Society for Population Studies Annual Conference 2017, BSPS Annual Conference ; Conference date: 06-09-2017 Through 08-09-2017
<br>URL: <a href="http://www.lse.ac.uk/socialPolicy/Researchcentresandgroups/BSPS/annualConference/Home.aspx">http://www.lse.ac.uk/socialPolicy/Researchcentresandgroups/BSPS/annualConference/Home.aspx</a></dd>

<p></p><dt></dt>
<dd><b>Evaluating record linkage: creating longitudinal synthetic data to provide gold-standard linked data sets</b><br>Tom Dalton, Alan Dearle, Graham Kirby, <u>Özgür Akgün</u>
<br>Workshop for the Systematic Linking of Historical Records ; Conference date: 11-05-2017 Through 13-05-2017
<br>URL: <a href="http://recordlink.org">http://recordlink.org</a></dd>

<p></p><dt></dt>
<dd><b>Probabilistic linkage of vital event records in Scotland using familial groups</b><br><u>Özgür Akgün</u>, Tom Dalton, Alan Dearle, Eilidh Garrett, Graham Kirby
<br>Workshop for the Systematic Linking of Historical Records ; Conference date: 11-05-2017 Through 13-05-2017
<br>URL: <a href="http://recordlink.org">http://recordlink.org</a></dd>

<p></p><dt></dt>
<dd><b>An identifier scheme for the Digitising Scotland project</b><br><u>Özgür Akgün</u>, Ahmad Al-Sidiqi, Peter Christen, Tom Dalton, Alan Dearle, Chris Dibben, Eilidh Garrett, Alasdair Gray, Graham Kirby, Alice Reid
<br>UK Administrative Data Research Network Annual Research Conference : Social science using administrative data for public benefit, ADRN2017 ; Conference date: 01-06-2017 Through 02-06-2017
<br>URL: <a href="http://www.adrn2017.net">http://www.adrn2017.net</a></dd>

<p></p><dt></dt>
<dd><b>Evaluating population data linkage: assessing stability, scalability, resilience and robustness across many data sets for comprehensive linkage evaluation</b><br>Tom Dalton, <u>Özgür Akgün</u>, Ahmad Al-Sediqi, Peter Christen, Alan Dearle, Eilidh Garrett, Alasdair Gray, Graham Kirby, Alice Reid
<br>UK Administrative Data Research Network Annual Research Conference : Social science using administrative data for public benefit, ADRN2017 ; Conference date: 01-06-2017 Through 02-06-2017
<br>URL: <a href="http://www.adrn2017.net">http://www.adrn2017.net</a></dd>

<p></p><dt></dt>
<dd><b>Record linking using metric space similarity search</b><br>Alan Dearle, Graham Kirby, <u>Özgür Akgün</u>, Tom Dalton
<br>UK Administrative Data Research Network Annual Research Conference : Social science using administrative data for public benefit, ADRN2017 ; Conference date: 01-06-2017 Through 02-06-2017
<br>URL: <a href="http://www.adrn2017.net">http://www.adrn2017.net</a></dd>

<p></p><hr><dt>2016</dt>
<dd><b>Exploiting short supports for improved encoding of arbitrary constraints into SAT</b><br><u>Özgür Akgün</u>, Ian Gent, Chris Jefferson, Ian Miguel, Peter Nightingale
<br>Principles and Practice of Constraint Programming, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-319-44953-1_1">10.1007/978-3-319-44953-1_1</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9783319449524">9783319449524</a></dd>

<p></p><hr><dt>2015</dt>
<dd><b>Cloud-based e-Infrastructure for scheduling astronomical observations</b><br>James Wetter, <u>Özgür Akgün</u>, Adam Barker, Martin Dominik, Ian Miguel, Blesson Varghese
<br>2015 IEEE 11th International Conference on e-Science (e-Science) (2015), IEEE Computer Society
<br>DOI: <a href="https://doi.org/10.1109/eScience.2015.54">10.1109/eScience.2015.54</a>
<br>URL: <a href="http://escience2015.mnm-team.org/">http://escience2015.mnm-team.org/</a></dd>

<p></p><dt></dt>
<dd><b>Automatically generating streamlined constraint models with Essence and Conjure</b><br>James Wetter, <u>Özgür Akgün</u>, Ian Miguel
<br>Principles and Practice of Constraint Programming, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-319-23219-5_34">10.1007/978-3-319-23219-5_34</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9783319232188">9783319232188</a></dd>

<p></p><hr><dt>2014</dt>
<dd><b>Cloud benchmarking for performance</b><br>Blesson Varghese, <u>Özgür Akgün</u>, Ian Miguel, Long Thai, Adam Barker
<br>Proceedings 2014 IEEE 6th International Conference on Cloud Computing Technology and Science (CloudCom 2014), IEEE
<br>DOI: <a href="https://doi.org/10.1109/CloudCom.2014.28">10.1109/CloudCom.2014.28</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9781479940936">9781479940936</a></dd>

<p></p><dt></dt>
<dd><b>Optimal deployment of geographically distributed workflow engines on the Cloud</b><br>Long Thai, Adam Barker, Blesson Varghese, <u>Özgür Akgün</u>, Ian Miguel
<br>6th IEEE International Conference on Cloud Computing Technology and Science (CloudCom 2014), IEEE
<br>DOI: <a href="https://doi.org/10.1109/CloudCom.2014.30">10.1109/CloudCom.2014.30</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9781479940936 ">9781479940936 </a></dd>

<p></p><dt></dt>
<dd><b>Automatically improving constraint models in Savile Row through associative-commutative common subexpression elimination</b><br>Peter Nightingale, <u>Özgür Akgün</u>, Ian Gent, Christopher Jefferson, Ian Miguel
<br>Principles and Practice of Constraint Programming, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-319-10428-7_43">10.1007/978-3-319-10428-7_43</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9783319104270">9783319104270</a></dd>

<p></p><dt></dt>
<dd><b>Breaking conditional symmetry in automated constraint modelling with Conjure</b><br><u>Özgür Akgün</u>, Ian Gent, Chris Jefferson, Ian Miguel, Peter Nightingale
<br>ECAI 2014, IOS Press
<br>DOI: <a href="https://doi.org/10.3233/978-1-61499-419-0-3">10.3233/978-1-61499-419-0-3</a>
<br>ISBN: <a href="http://www.ottobib.com/isbn/9781614994183">9781614994183</a></dd>

<p></p><dt></dt>
<dd><b>Extensible automated constraint modelling via refinement of abstract problem specifications</b><br><u>Özgür Akgün</u>
<br>University of St Andrews
<br>URL: <a href="http://hdl.handle.net/10023/6547">http://hdl.handle.net/10023/6547</a></dd>

<p></p><hr><dt>2013</dt>
<dd><b>An Automated Constraint Modelling and Solving Toolchain</b><br><u>Özgür Akgün</u>, Alan M Frisch, Ian Gent, Bilal Syed Hussain, Chris Jefferson, Lars Kotthoff, Ian Miguel, Peter Nightingale
<br>ARW 2013 - 20th Automated Reasoning Workshop
<br>URL: <a href="http://staff.computing.dundee.ac.uk/katya/arw13/papers/paper_13.pdf">http://staff.computing.dundee.ac.uk/katya/arw13/papers/paper_13.pdf</a></dd>

<p></p><dt></dt>
<dd><b>Automated Modelling and Model Selection in Constraint Programming: Current Achievements and Future Directions</b><br><u>Özgür Akgün</u>, Alan M Frisch, Chris Jefferson, Ian Miguel
<br>COSpeL: The first Workshop on Domain Specific Languages in Combinatorial Optimization
<br>URL: <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.388.5906&rep=rep1&type=pdf">http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.388.5906&rep=rep1&type=pdf</a></dd>

<p></p><dt></dt>
<dd><b>Automated Symmetry Breaking and Model Selection in Conjure</b><br><u>Özgür Akgün</u>, Alan M Frisch, Ian Gent, Bilal Syed Hussain, Chris Jefferson, Lars Kotthoff, Ian Miguel, Peter Nightingale
<br>CP 2013 - Principles and Practice of Constraint Programming, 19th International Conference
<br>DOI: <a href="https://doi.org/10.1007/978-3-642-40627-0_11">10.1007/978-3-642-40627-0_11</a></dd>

<p></p><hr><dt>2011</dt>
<dd><b>Extensible Automated Constraint Modelling</b><br><u>Özgür Akgün</u>, Ian Miguel, Chris Jefferson, Alan M. Frisch, Brahim Hnich
<br>Proceedings of the Twenty-Fifth AAAI Conference on Artificial Intelligence, AAAI Press
<br>ISBN: <a href="http://www.ottobib.com/isbn/978-157735508-3">978-157735508-3</a>
<br>URL: <a href="http://www.aaai.org/ocs/index.php/AAAI/AAAI11/paper/view/3687">http://www.aaai.org/ocs/index.php/AAAI/AAAI11/paper/view/3687</a></dd>

<p></p><dt></dt>
<dd><b>The Open Stacks Problem: An automated modelling case study</b><br><u>Özgür Akgün</u>, Ian Miguel, Chris Jefferson
<br>ERCIM Workshop on Constraint Solving and Constraint Logic Programming
<br>URL: <a href="https://csclp2011.cs.st-andrews.ac.uk/csclp2011proceedings.pdf#page=21">https://csclp2011.cs.st-andrews.ac.uk/csclp2011proceedings.pdf#page=21</a></dd>

<p></p><hr><dt>2010</dt>
<dd><b>Conjure Revisited: Towards Automated Constraint Modelling</b><br><u>Özgür Akgün</u>, Alan M Frisch, Brahim Hnich, Chris Jefferson, Ian Miguel
<br>ModRef 2010 - The 9th International Workshop on Constraint Modelling and Reformulation
<br>URL: <a href="https://it.uu.se/research/group/astra/ModRef10/papers/Ozgur%20Akgun,%20Alan%20Frisch,%20Brahim%20Hnich,%20Chris%20Jefferson%20and%20Ian%20Miguel.%20%20Conjure%20Revisited,%20Towards%20Automated%20Constraint%20Modelling%20-%20ModRef%202010.pdf">https://it.uu.se/research/grou....elling%20-%20ModRef%202010.pdf</a></dd>

<p></p><dt></dt>
<dd><b>Refining Portfolios of Constraint Models with Conjure</b><br><u>Özgür Akgün</u>
<br>CP 2010 - Principles and Practice of Constraint Programming, 16th International Conference, Doctoral Program
<br>URL: <a href="https://s3.amazonaws.com/academia.edu.documents/30783376/DP10Proceedings.pdf?AWSAccessKeyId=AKIAIWOWYYGZ2Y53UL3A&Expires=1533056575&Signature=x2Slk0PdJ3tZOc%2FvWV%2FHOkIGgCc%3D&response-content-disposition=inline%3B%20filename%3DRefining_Portfolios_of_Constraint_Models.pdf#page=6">https://s3.amazonaws.com/acade....f_Constraint_Models.pdf#page=6</a></dd>

</dl>
