<dl class="dl-horizontal"><p></p><p></p><dt>2017</dt><dd><b>Learning From Past Links: Understanding the Limits of Linkage Quality</b><br><u>Özgür Akgün</u>, Alan Dearle, Eilidh Garrett, Graham Kirby
<br>CIKM2017 - British Society for Population Studies Annual Conference 2017, Liverpool, United Kingdom</dd>

<p></p><dt></dt><dd><b>Evaluating Record Linkage: Creating Longitudinal Synthetic Data to Provide Gold-Standard Linked Data Sets</b><br>Tom Dalton, Alan Dearle, Graham Kirby, <u>Özgür Akgün</u>
<br>Workshop for the Systematic Linking of Historical Records, Guelph, Canada</dd>

<p></p><dt></dt><dd><b>Probabilistic Linkage of Vital Event Records in Scotland using Familial Groups</b><br><u>Özgür Akgün</u>, Tom Dalton, Alan Dearle, Eilidh Garrett, Graham Kirby
<br>Workshop for the Systematic Linking of Historical Records, Guelph, Canada</dd>

<p></p><dt></dt><dd><b>An Identifier Scheme for the Digitising Scotland Project</b><br><u>Özgür Akgün</u>, Ahmad Al-Sidiqi, Peter Christen, Tom Dalton, Alan Dearle, Chris Dibben, Eilidh Garrett, Alasdair Gray, Graham Kirby, Alice Reid
<br>ADRN2017 - UK Administrative Data Research Network Annual Research Conference, Edinburgh, United Kingdom.</dd>

<p></p><dt></dt><dd><b>Evaluating Population Data Linkage: Assessing stability, scalability, resilience and robustness across many data sets for comprehensive linkage evaluation</b><br>Tom Dalton, <u>Özgür Akgün</u>, Ahmad Al-Sediqi, Peter Christen, Alan Dearle, Eilidh Garrett, Alasdair Gray, Graham Kirby, Alice Reid
<br>ADRN2017 - UK Administrative Data Research Network Annual Research Conference, Edinburgh, United Kingdom.</dd>

<p></p><dt></dt><dd><b>Record Linking Using Metric Space Similarity Search</b><br>Alan Dearle, Graham Kirby, <u>Özgür Akgün</u>, Tom Dalton
<br>ADRN2017 - UK Administrative Data Research Network Annual Research Conference, Edinburgh, United Kingdom.</dd>

<p></p><p></p><dt>2016</dt><dd><b>Cloud Benchmarking for Maximising Performance of Scientific Applications</b><br>Blesson Varghese, <u>Özgür Akgün</u>, Ian Miguel, Long Thai, Adam Barker
<br>IEEE Transactions on Cloud Computing, IEEE</dd>

<p></p><dt></dt><dd><b>Exploiting Short Supports for Improved Encoding of Arbitrary Constraints into SAT</b><br><u>Özgür Akgün</u>, Ian Philip Gent, Chris Jefferson, Ian Miguel, Peter Nightingale
<br>Principles and Practice of Constraint Programming, Springer</dd>

<p></p><p></p><dt>2015</dt><dd><b>Cloud-based e-Infrastructure for scheduling astronomical observations</b><br>James Patrick Wetter, <u>Özgür Akgün</u>, Adam Barker, Martin Dominik, Ian Miguel, Blesson Varghese
<br>2015 IEEE 11th International Conference on e-Science (e-Science) (2015), IEEE Computer Society</dd>

<p></p><dt></dt><dd><b>Automatically Generating Streamlined Constraint Models with Essence and Conjure</b><br>James Wetter, <u>Özgür Akgün</u>, Ian Miguel
<br>Principles and Practice of Constraint Programming, Springer</dd>

<p></p><p></p><dt>2014</dt><dd><b>Cloud Benchmarking for Performance</b><br>Blesson Varghese, <u>Özgür Akgün</u>, Ian Miguel, Long Thai, Adam Barker
<br>6th IEEE International Conference on Cloud Computing Technology and Science (CloudCom 2014), IEEE</dd>

<p></p><dt></dt><dd><b>Optimal Deployment of Geographically Distributed Workflow Engines on the Cloud</b><br>Long Thai, Adam Barker, Blesson Varghese, <u>Özgür Akgün</u>, Ian Miguel
<br>6th IEEE International Conference on Cloud Computing Technology and Science (CloudCom 2014), IEEE</dd>

<p></p><dt></dt><dd><b>Automatically Improving Constraint Models in Savile Row through Associative-Commutative Common Subexpression Elimination</b><br>Peter Nightingale, <u>Özgür Akgün</u>, Ian P. Gent, Christopher Jefferson, Ian Miguel
<br>Principles and Practice of Constraint Programming, Springer</dd>

<p></p><dt></dt><dd><b>Breaking Conditional Symmetry in Automated Constraint Modelling with Conjure</b><br><u>Özgür Akgün</u>, Ian Gent, Chris Jefferson, Ian Miguel, Peter Nightingale
<br>ECAI 2014, IOS Press</dd>

<p></p><dt></dt><dd><b>Extensible Automated Constraint Modelling via Refinement of Abstract Problem Specifications</b><br><u>Özgür Akgün</u>
<br>University of St Andrews</dd>

<p></p><p></p><dt>2013</dt><dd><b>An Automated Constraint Modelling and Solving Toolchain</b><br><u>Özgür Akgün</u>, Alan M Frisch, Ian Philip Gent, Bilal Syed Hussain, Chris Jefferson, Lars Kotthoff, Ian Miguel, Peter Nightingale
<br>ARW 2013 - 20th Automated Reasoning Workshop</dd>

<p></p><dt></dt><dd><b>Automated Modelling and Model Selection in Constraint Programming</b><br><u>Özgür Akgün</u>, Alan M Frisch, Chris Jefferson, Ian Miguel
<br>COSpeL: The first Workshop on Domain Specific Languages in Combinatorial Optimization</dd>

<p></p><dt></dt><dd><b>Automated Symmetry Breaking and Model Selection in Conjure</b><br><u>Özgür Akgün</u>, Alan M Frisch, Ian Philip Gent, Bilal Syed Hussain, Chris Jefferson, Lars Kotthoff, Ian Miguel, Peter Nightingale
<br>CP 2013 - Principles and Practice of Constraint Programming, 19th International Conference</dd>

<p></p><p></p><dt>2011</dt><dd><b>Extensible Automated Constraint Modelling</b><br><u>Özgür Akgün</u>, Ian Miguel, Chris Jefferson, Alan M. Frisch, Brahim Hnich
<br>Proceedings of the Twenty-Fifth AAAI Conference on Artificial Intelligence, AAAI Press</dd>

<p></p><dt></dt><dd><b>The Open Stacks Problem</b><br><u>Özgür Akgün</u>, Ian Miguel, Chris Jefferson
<br>ERCIM Workshop on Constraint Solving and Constraint Logic Programming</dd>

<p></p><p></p><dt>2010</dt><dd><b>Conjure Revisited: Towards Automated Constraint Modelling</b><br><u>Özgür Akgün</u>, Alan M Frisch, Brahim Hnich, Chris Jefferson, Ian Miguel
<br>ModRef 2010 - The 9th International Workshop on Constraint Modelling and Reformulation</dd>

<p></p><dt></dt><dd><b>Refining Portfolios of Constraint Models with Conjure</b><br><u>Özgür Akgün</u>
<br>CP 2010 - Principles and Practice of Constraint Programming, 16th International Conference, Doctoral Program</dd>

</dl>
