<div class="container" style="margin-top:20px;">
<div class="well well-sm">
    <nav id="navigation">
        <ul class="nav nav-pills nav-justified">
            {% assign sorted_pages = (site.pages | where: 'layout', 'page' | sort: 'order') %}
            {% for p in sorted_pages %}
                {% if p.menutitle %}
                    {% assign usetitle = p.menutitle %}
                {% else %}
                    {% assign usetitle = p.title %}
                {% endif %}
                {% if page.title == p.title %}
                    <li class="active"><a href="{{ p.url | prepend: site.baseurl }}">{{ usetitle }}</a></li>
                {% else %}
                    <li><a href="{{ p.url | prepend: site.baseurl }}">{{ usetitle }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
</div>
