<nav class = "navbar navbar-default" role = "navigation">
    <div class="container-fluid">
        <!-- <ul class = "nav navbar-nav"> -->
        <ul class = "nav nav-tabs">
            {% assign sorted_pages = (site.pages | where: 'layout', 'page' | sort: 'order') %}
            {% for p in sorted_pages %}
                {% if p.menutitle %}
                    {% assign usetitle = p.menutitle %}
                {% else %}
                    {% assign usetitle = p.title %}
                {% endif %}
                {% if page.title == p.title %}
                    <li class="active"><a href="{{ p.url | prepend: site.baseurl }}">{{ usetitle }}</a></li>
                {% else %}
                    <li><a href="{{ p.url | prepend: site.baseurl }}">{{ usetitle }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>

<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul>
                {% assign sorted_pages = (site.pages | where: 'layout', 'page' | sort: 'order') %}
                {% for page in sorted_pages %}
                    {% if page.title and page.title != "404: Page not found" %}
                        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav> -->


<!-- <header>
    <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
</header> -->
